.monitor {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  /* font-family: "Perfect DOS VGA 437", monospace; we use Silkscreen */ 
  font-size: min(2.16vw, 3.6vh);
  color: #888;
}
