.room {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: no-repeat url("../assets/pics/room.png");
  background-size: contain;
}

.board {
  position: absolute;
  width: 36%;
  height: 38.35%;
  z-index: 1;
}

/* The borders do not scale for some reason */
.board:hover {
  background: no-repeat url("../assets/pics/boardOutline.png");
  background-size: contain;
  cursor: pointer;
}

.cup-wrapper {
  position: absolute;
  width: 14%;
  height: 20%;
  top: 65%;
  left: 10%;
}

.cup {
  background: no-repeat url("../assets/pics/cup.png");
  background-size: contain;
}

.cup:hover {
  cursor: pointer;
  background: no-repeat url("../assets/pics/cupOutline.png");
  background-size: contain;
}

.plant-wrapper {
  position: absolute;
  width: 26%;
  height: 36.8%;
  left: 18.98%;
  top: 29.91%;
  z-index: 5;
}

.plant {
  background: no-repeat url("../assets/pics/plant_2.png");
  background-size: contain;
}

.pc-wrapper {
  position: absolute;
  width: 52.21%;
  height: 78.33%;
  top: 12.5%;
  left: 31.8%;
}

.pc {
  background: no-repeat url("../assets/pics/pc.png");
  background-size: contain;
}

.pc.highlight {
  background-image: url("../assets/pics/pcOutline.png");
}

.screen-gif {
  position: absolute;
  width: 39.4%;
  top: 13.8%;
  left: 39.8%;
  cursor: pointer;
  background-image: no-repeat url("../assets/pics/screen.gif");
}

.pc-click-box {
  position: absolute;
  cursor: pointer;
  /* outline: 2px solid red; */
}

.pc-click-box.box-one {
  width: 50%;
  height: 69.5%;
  top: 2.5%;
  left: 34.4%;
}

.pc-click-box.box-two {
  width: 96%;
  height: 23%;
  top: 72%;
  left: 2%;
}

.pc-click-box.box-three {
  width: 15%;
  height: 3.5%;
  top: 95%;
  left: 79%;
}

.playGameButton {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 13.5%;
  height: 9%;
  background-image: url(../assets/pics/playChilly.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all .05s ease-out .15s;
  transition: all .05s ease-out .15s;
}

.playGameButton:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-image: url(../assets/pics/playPinky.png);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 5s ease-out;
}
.out {
  opacity: 1;
  transition: opacity 5s ease-out;
}
