@font-face {
  font-family: "Silkscreen2";
  src: url("/WaveProject/font/Silkscreen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Silkscreen";
  src: url(https://manzdev.github.io/twitch-manzdev-bios/assets/perfect-dos-vga437.woff2) format("woff2");
}

* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Silkscreen', sans-serif;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/*-----------------------------------------------DESKTOP-----------------------------------------------------*/

.os_container {
  width: 100%;
  min-height: 100vh;
  background-image: url(pic/temp_wallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#os_apps {
  width: 100%;
  padding: 10px;
}

#os_apps .app {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

#os_apps .app img {
  width: 64px;
  margin: 0 auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#os_apps .app p {
  color: rgb(240, 219, 192);
  font-size: 14px;
  text-align: center;
}

.app_window {
  position: absolute;
  top: 20vh;
  left: 20%;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30vh;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  resize: both;
  transition: 0.3s;
}

.app_window .window_bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(182, 182, 182);
  border: 1px solid rgb(0, 0, 0);
  padding: 0 10px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.app_window .window_bar:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.app_window .window_bar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_window .window_bar .brand img {
  width: 32px;
}

.app_window .window_bar .brand p {
  color: rgb(73, 0, 0);
  margin-left: 10px;
}

.app_window .window_bar .brand .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_window .window_bar .brand .buttons button {
  outline: 6px;
  border: 6px;
  margin-right: 6px;
  color: rgb(0, 0, 0);
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 95%;
  cursor: pointer;
  transition: 0.3s;
}

.app_window .window_bar .brand .buttons button:first-child {
  background: rgb(3, 82, 0);
}

.app_window .window_bar .brand .buttons button:nth-child(2) {
  background: rgb(59, 0, 82);
}

.app_window .window_bar .brand .buttons button:nth-child(3) {
  background: rgb(121, 45, 1);
}

.app_window .window_bar .brand .buttons button:last-child {
  background: rgb(255, 43, 43);
  margin-right: 0;
}

.app_window .window_bar .brand .buttons button:hover {
  background: rgb(182, 182, 182);
  color: rgb(255, 43, 43);
}

.app_window .app {
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: auto;
}

/*-----------------------------------------------ROOM-----------------------------------------------------*/

.room-background {
  position: absolute;
  max-width: 100%;
  height: auto;
  margin: auto;
  resize: horizontal;
  aspect-ratio: 1.79487179;
  background: url(pic/room.png) no-repeat;
  background-size: contain;
}

#room {
  top: -3%;
  width: 1920px;
  height: 1080px;
  /* border: 1px solid orangered; */
}

/* Replace with a div in future, delete board.jpg */
#board {
  position: absolute;
  width: 447px;
  height: 262px;
  top: 1.8%;
  left: 0%;
  cursor: zoom-in;
  opacity: 0;
}

#cup {
  position: absolute;
  /* scale: 0.5; */
  top: 43%;
  left: 9%;
  width: 175px;
  cursor: pointer;
}

#ekranGif {
  position: absolute;
  max-width: 100%;
  width: 20.67%;
  top: 16.65%;
  left: 52.5%;
  cursor: pointer;
  height: auto;
  margin: 0px;
  padding: 0px;
  object-fit: contain;
  resize: horizontal;
}


/*-----------------------------------------------BOARD-----------------------------------------------------*/

.undraggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.board-wrapper {
  position: absolute;
  max-width: 88.6%;
  height: auto;
  margin: auto;
  resize: horizontal;
  aspect-ratio: 1.66666667;
  background: url(pic/board_page.png) no-repeat;
  background-size: contain;
}

#wrapper {
  left: 5.75%;
  width: 100%;
}

#sheet1 {
  position: absolute;
  width: 30%;
  top: 5.1%;
  left: 3.1%;
  visibility: hidden;
}

#sheet2 {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 17%;
  visibility: hidden;
}

#sheet3 {
  position: absolute;
  width: 30%;
  top: 30%;
  left: 46.5%;
  visibility: hidden;
}

#sheet4 {
  position: absolute;
  width: 30%;
  top: 11%;
  left: 60%;
  visibility: hidden;
}

#sheet1click {
  position: absolute;
  width: 8%;
  height: 15%;
  top: 6.8%;
  left: 5%;
  cursor: pointer;
  opacity: 0;
}

#sheet2click {
  position: absolute;
  width: 17%;
  height: 21.6%;
  top: 26.7%;
  left: 23%;
  cursor: pointer;
  opacity: 0;
}

#sheet3click {
  position: absolute;
  width: 13.1%;
  height: 21.8%;
  top: 43.3%;
  left: 55%;
  cursor: pointer;
  opacity: 0;
}

#sheet4click {
  position: absolute;
  width: 16.1%;
  height: 8.36%;
  top: 20%;
  left: 66%;
  cursor: pointer;
  opacity: 0;
}

#fb {
  position: absolute;
  top: 15%;
  left: 18%;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1vw;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

#insta {
  position: absolute;
  top: 41%;
  left: 18%;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1vw;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

#tiktok {
  position: absolute;
  top: 27.5%;
  left: 12%;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1vw;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

#fb:hover {
  position: absolute;
  top: 15%;
  left: 18%;
  color: black;
  background-color: #b6e8b8;
  cursor: pointer;
}

#insta:hover {
  position: absolute;
  top: 41%;
  left: 18%;
  color: black;
  background-color: #b6e8b8;
  cursor: pointer;
}

#tiktok:hover {
  position: absolute;
  top: 27.5%;
  left: 12%;
  color: black;
  background-color: #b6e8b8;
  cursor: pointer;
}

#buttonsUL {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#UL1 {
  position: absolute;
  top: 25%;
  left: 25.5%;
  border: none;
  font-size: 1vw;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

#UL2 {
  position: absolute;
  top: 47%;
  left: 22.5%;
  border: none;
  font-size: 1vw;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

#UL1:hover {
  position: absolute;
  top: 25%;
  left: 25.5%;
  background-color: #d3b9ea;
  color: black;
  cursor: pointer;
}

#UL2:hover {
  position: absolute;
  top: 47%;
  left: 22.5%;
  background-color: #d3b9ea;
  color: black;
  cursor: pointer;
}

#arrow {
  position: absolute;
  display: inline-flex;
  width: 1;
  height: 1;
  top: 7%;
  right: 5%;
}

#arrow:hover {
  display: inline-flex;
  filter: brightness(1.75);
}

/*-------------------------------DESKTOP-----------------------------------*/

#desktop_page {
  padding: 0;
  width: 1400px;
  height: 900px;
  background-image: url(pic/temp_wallpaper.png);
}

p {
  color: black;
}

p1 {
  color: rgb(255, 255, 255);
}

h1 {
  font-weight: bold;
}

#screen_page {
  font-size: 18px;
  padding: 0;
  width: 1400px;
  height: 900px;
  background-color: rgb(0, 0, 0);
}

body {
  background: black;
  font-family: 'Silkscreen', sans-serif;
  margin: 0px;
  overflow: hidden;
}

/*-------------------------------MAIN-GAME-----------------------------------*/

.centred {
  margin: auto;
  resize: horizontal;
  max-width: 83%;
  aspect-ratio: 1.55556;
}

#game-wrapper {
  margin-bottom: 0px;
}

#canvas1 {
  width: 83%;
  position: absolute;
}

#countdown {
  position: absolute;
  top: 5%;
  left: 83%;
  height: 5%;
  width: 5%;
  background-color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  margin: 0;
}

#introText {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  display: inline-flex;
  font-size: 5vh;
  color: #fff;
  justify-content: center;
}

#introCountdown {
  position: absolute;
  top: 0%;
  left: 45%;
  display: none;
  font-size: 20vw;
  color: #fff;
  text-align: center;
  justify-content: center;
}

#endgame-text {
  width: 77%;
}

.text {
  position: absolute;
  width: 83%;
  height: 83%;
  font-size: 40px;
  word-spacing: 0.2em;
  margin-top: 80px;
  margin-left: 50px;
  left: 7.5%;
  line-height: 0.6em;
  text-align: center;
  top: 50px;
  color: #ffffff;
}

.text span {
  opacity: 0;
}

.text span.revealed {
  opacity: 1;
}

.text span.green {
  color: #27ae60;
}

.text span.red {
  color: #ffffff;
  font-size: 200px;
  white-space: pre;
}

.text span.gold {
  color: #eeea09;
  font-size: 150px;
}

#playerImage,
#floppyDiskImage,
#enemyImage,
#smallPlatformImage,
#bigPlatformImage,
#groundImage,
#backgroundImage,
#diskBehavioralImage,
#diskBiologyImage,
#diskChadImage,
#diskChemistryImage,
#diskEksocImage,
#diskGeographyImage,
#diskInternationalImage,
#diskLawImage,
#diskManagementImage,
#diskPhilologyImage,
#diskPhilosophyImage,
#diskTomaszowImage,
#diskMathsImage,
#sunImage,
#mountainsImage,
#pcImage,
#glowImage,
#palmLeftOneImage,
#palmLeftTwoImage,
#palmRightOneImage,
#palmRightTwoImage {
  display: none;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 7.5px;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  height: 300px;
}

/* The Close Button */
.close {
  color: #777;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  position: relative;
  top: -748px;
  left: 700px;
  opacity: 1;
  visibility: hidden;
}

#endDisks {
  position: relative;
  box-sizing: border-box;
  visibility: hidden;
  top: -740px;
  left: inherit;
  opacity: 1;
  width: 77%;
  align-items: center;
  cursor: pointer;
}

/* Either delete or add the properties to every disk with different positioning */
#diskBehavioralImageE {
  margin: 0px;
  position: absolute;
  left: 10%;
  top: 89%;
}

#diskBiologyImageE {
  margin: 0px;
  position: absolute;
  left: 19.375%;
  top: 89%;
}

#diskChadImageE {
  margin: 0px;
  position: absolute;
  left: 28.75%;
  top: 89%;
}

#diskChemistryImageE {
  margin: 0px;
  position: absolute;
  left: 38.125%;
  top: 89%;
}

#diskEksocImageE {
  margin: 0px;
  position: absolute;
  left: 47.5%;
  top: 89%;
}

#diskGeographyImageE {
  margin: 0px;
  position: absolute;
  left: 56.875%;
  top: 89%;
}

#diskInternationalImageE {
  margin: 0px;
  position: absolute;
  left: 66.25%;
  top: 89%;
}

#diskLawImageE {
  margin: 0px;
  position: absolute;
  left: 75.625%;
  top: 89%;
}

#diskMathsImageE {
  margin: 0px;
  position: absolute;
  left: 85%;
  top: 89%;
}

#diskManagementImageE {
  margin: 0px;
  position: absolute;
  left: 33.125%;
  top: 101.5%;
}

#diskPhilologyImageE {
  margin: 0px;
  position: absolute;
  left: 43.125%;
  top: 101.5%;
}

#diskPhilosophyImageE {
  margin: 0px;
  position: absolute;
  left: 53.125%;
  top: 101.5%;
}

#diskTomaszowImageE {
  margin: 0px;
  position: absolute;
  left: 63.125%;
  top: 101.5%;
}