@font-face {
  font-family: "Silkscreen";
  src: url(https://manzdev.github.io/twitch-manzdev-bios/assets/perfect-dos-vga437.woff2) format("woff2");
}
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
body {
  /* webkit */
  image-rendering: -webkit-crisp-edges;
  /* for firefox */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  /* for edge */
  image-rendering: -webkit-optimize-contrast;
  /* for chrome */
  image-rendering: pixelated;
  /* blend */
  -ms-interpolation-mode: nearest-neighbor;
}

.render {
  position: relative;
  margin: auto;
  /* all elements properties */
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Silkscreen', sans-serif;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
